<form class="form-container">
    <h1 mat-dialog-title>Reset Password</h1>
    <mat-icon class="close-icon" (click)="closePasswordResetForm()">arrow_back</mat-icon>
    <div mat-dialog-content>
        <div class="input-container">
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="yourmail@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.hasError('required') || email.hasError('pattern')"> Please enter a valid email address</mat-error>
            </mat-form-field>
            <div class="button-container">
                <button [disabled]="!email.valid" mat-raised-button color="primary" type="button"
                    (click)="sendMail()">Send mail</button>
            </div>
            <div *ngIf="resetMailSent">
                <p>If your email address is registered in our database, you will soon receive a link for password reset.
                </p>
                <p>You can also <span class="text-button" (click)="openSignUpForm()">register</span> again if
                    necessary.</p>
            </div>
        </div>
    </div>
</form>