.row-container {
    display: flex;
}

mat-form-field {
    margin-top: 4px;
}



@media (max-width: 768px) {
    mat-form-field {
        width: 100%;
    }

    .row-container {
        display:block;
    }
}