<div class="investor-container">
    <mat-card>
        <mat-card-content>
            <table class="investor-table">
                <tr>
                    <th>Name</th>
                    <th *ngIf="!mobile">E-Mail</th>
                    <th>Investment</th>
                </tr>
                <tr *ngFor="let investor of investorListService.allInvestors"
                    [routerLink]="['/investor/' + investor.id]">
                    <td>{{ investor.lastName }}, {{ investor.firstName }} </td>
                    <td *ngIf="!mobile">{{ investor.email }}</td>
                    <td>{{ investor.investment }} $</td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
    <button (click)="openDialog()" class="add-investor-btn" mat-fab color="primary" matTooltip="Add investor"
        matTooltipPosition="above">
        <mat-icon>add</mat-icon>
    </button>
</div>