<form class="form-container" [formGroup]="signUpForm">
  <h1 mat-dialog-title>Register</h1>
  <mat-icon class="close-icon" (click)="closeSignUpForm()">arrow_back</mat-icon>
  <div mat-dialog-content>
    <div class="input-container">
      <mat-form-field class="input-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="yourmail@example.com">
        <mat-error *ngIf="signUpForm.get('email').hasError('pattern') && !signUpForm.get('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="signUpForm.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Your password">
        <mat-error *ngIf="signUpForm.get('password').hasError('minlength') && !signUpForm.get('password').hasError('required')">
          Password must have at least 8 characters
        </mat-error>
        <mat-error *ngIf="signUpForm.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-field" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm your password">
        <mat-error *ngIf="signUpForm.get('confirmPassword').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="signUpForm.hasError('passwordsNotMatch') && !signUpForm.get('confirmPassword').hasError('required')">
          Passwords do not match
        </mat-error>
        
      </mat-form-field>
    </div>
    <div class="button-container">
      <button [disabled]="!signUpForm.valid" mat-raised-button color="primary" type="button"
        (click)="register()">Register</button>
    </div>
    <mat-error *ngIf="!registrationSuccesful && loginService.errorEmailInUse"
      class="error-message">{{loginService.errorEmailInUse}}
    </mat-error>
    <div *ngIf="registrationSuccesful">Your registration was successful. Please proceed to the <span class="text-button"
        (click)="closeSignUpForm()">login page</span> to access your
      account.</div>
  </div>
</form>