
    <h1>Legal Notice</h1>
    <b>Information in accordance with Section 5 TMG:</b>
    <p>Björn Daigger<br>
        Scheffelstraße 46<br>
        68259 Mannheim<br>
        Germany</p>
    <b>Contact Information:</b>
    <p>Telephone: +49 179 7757454<br>
        E-Mail: mail@bjoerndaigger.de<br>
        Internet address: www.bjoerndaigger.de</p>
    <b>Graphics and Image Sources:</b>
    <p><a href="https://www.flaticon.com/free-icons/user" target="_blank" title="user icons">User icons created by Freepik - Flaticon</a></p>


