<mat-card>
    <mat-card-content class="user-detail-header">
        <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="userMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="editUser()">Edit</button>
        </mat-menu>
        <img src="./assets/img/profile.png">
        <div class="user-details">
            <div>
                <h2>{{ this.userListService.user.firstName }} {{ this.userListService.user.lastName }}</h2>
            </div>
            <div><b>Email:</b> {{ this.userListService.user.email }}</div>
            <div><b>Investment:</b> {{ this.userListService.user.investment }} $</div>
            <div><b>Birth date:</b> {{ this.userListService.user.birthDate | date:'dd/MM/yyyy' }}</div>
        </div>
    </mat-card-content>
    <mat-card-content class="user-address">
        <h3>Address</h3>
            {{ this.userListService.user.street }}<br>
            {{ this.userListService.user.city }}, {{ this.userListService.user.zipCode }}<br>
            {{ this.userListService.user.country }}
    </mat-card-content>
</mat-card>