<mat-progress-bar *ngIf="this.investorListService.loading" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>Edit Investor</h1>
<div mat-dialog-content>
    <div class="row-container">
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label>First name</mat-label>
            <input [disabled]="this.investorListService.loading" [(ngModel)]="this.investorListService.investor.firstName" matInput placeholder="First name" type="text">

        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input [disabled]="this.investorListService.loading" [(ngModel)]="this.investorListService.investor.lastName" matInput placeholder="Last name" type="text">

        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input [disabled]="this.investorListService.loading" [(ngModel)]="this.investorListService.investor.email" matInput placeholder="Email" type="email" pattern="[A-Za-z0-9._+\-']+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,}">

        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Investment</mat-label>
            <input [disabled]="this.investorListService.loading" [(ngModel)]="this.investorListService.investor.investment" matInput placeholder="Investment" type="text" pattern="[0-9]+">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Birth date</mat-label>
            <input [disabled]="this.investorListService.loading" [(ngModel)]="this.investorListService.birthDate" matInput placeholder="Birth date"
                [min]="this.investorListService.minDate" [max]="this.investorListService.maxDate" [matDatepicker]="picker1">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="row-container">
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label>Street + House No.</mat-label>
            <input [disabled]="this.investorListService.loading" [(ngModel)]="this.investorListService.investor.street" matInput placeholder="Street + House No." type="text">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input [disabled]="this.investorListService.loading" [(ngModel)]="this.investorListService.investor.city" matInput placeholder="City" type="text">
        </mat-form-field>
    </div>
    <div class="row-container">
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input [disabled]="this.investorListService.loading" [(ngModel)]="this.investorListService.investor.zipCode" matInput placeholder="Zip Code" type="text" pattern="[0-9]+">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input [disabled]="this.investorListService.loading" [(ngModel)]="this.investorListService.investor.country" matInput placeholder="Country" type="text">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button [disabled]="this.investorListService.loading" mat-button (click)="closeDialog()">Cancel</button>
        <button [disabled]="this.investorListService.loading" mat-button (click)="saveInvestor()">Save</button>
    </div>
</div>